[role="application"] {
    position: relative;
    box-sizing: border-box;
    padding: 0 $shell-padding-common;
    background-image: url('../res/background.png');
    background-position: 100% 100%;

    & > header {
        width: 100%;
        height: 4.5rem;

        menu {
            margin: 0;
            height: 100%;
            float: right;

            button {
                border: none;
                background: transparent;
                cursor: pointer;
                width: 3rem;
                height: 100%;
                float: right;
            }
        }
    }

    section[role="pages"] {
        position: relative;
        width: 100%;
        height: calc(100% - 12rem);
        
        .page {
            display: none;

            &.active {
                display: block;
            }

            &.hidden {                
                animation: anim-page-hidden .25s ease-out forwards;
                z-index: -1;
            }

            &.visible {
                animation: anim-page-visible .25s ease-out forwards;
            }
        }
    }

    & > footer {
        position: absolute;
        bottom: $shell-padding-common;
        left: $shell-padding-common;
        right: $shell-padding-common;

        .logo-container {
            img {
                width: 4.8rem;

                &:first-child {
                    float: left;
                }

                &:last-child {
                    float: right;
                }
            }
        }
    }

    .bg-tone {
        @include full-absolute;
        z-index: -1;
        background-color: transparent;
        transition: background-color 1.5s ease;

        @import 'shell-bg-tones';            
    }
}

// Animaciones
@keyframes anim-page-hidden {
    from {
        display: block;
        opacity: 1;
        transform: unset;
    }
    to {
        display: none;
        opacity: 0;
        transform: translateY(-3rem);
    }
}

@keyframes anim-page-visible {
    from {
        display: none;
        opacity: 0;
        transform: translateY(-3rem);        
    }
    to {
        display: block;
        opacity: 1;
        transform: unset;        
    }
}